@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "./components/landing-page.scss";
@import "./components/navigation-pad.scss";
@import "./utilities/colors.scss";
@import "./utilities/flex.scss";

a {
  text-decoration: none;
}

.t-align-c {
  text-align: center;
}

.red {
  color: #e55353;
}

.green {
  color: #2eb85c;
}

@import "ember-power-select";
