<div class="d-flex flex-col align-items-center w-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <h1>Login</h1>
              <p class="text-muted">Sign In to your account</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <FaIcon @icon="user" />
                  </div>
                </div>
                <Input class="form-control" type="text" placeholder="Email" autocomplete="off" @value={{email}} />
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <FaIcon @icon="lock" />
                  </div>
                </div>
                <Input class="form-control" type="password" placeholder="Password" autocomplete="off" @value={{password}} />
              </div>
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-primary px-4" type="button" {{ action 'login' }}>Login</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2>Sign up</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.</p>
                <LinkTo @route="register" class="btn btn-lg btn-outline-light mt-3">Register Now 1</LinkTo>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
