<div class="d-flex flex-col align-items-center w-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h1>Forgot Password</h1>
            <p class="text-muted">No Problem! Enter your email below and we will send you password reset link.</p>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <FaIcon @icon="envelope" />
                </div>
              </div>
              <Input 
                class="form-control" 
                type="email" 
                placeholder="Email"
                @value={{email}}
              />
            </div>
            <button 
              class="btn btn-block btn-success"
              {{action (perform forgotPasswordTask email)}}
            >
              {{if forgotPasswordTask.isRunning 'Sending mail' 'Send Password Reset Link'}}
            </button>
            {{#if lastResult.isError}}
              <div class="red mt-3 t-align-c">
                Can't send reset mail
                <ul>
                  <li>The e-mail address is not assigned to any user</li>
                </ul>
              </div>
            {{/if}}
            {{#if lastResult.isSuccessful}}
              <div class="green mt-3 t-align-c">
                A password reset link has been sent!
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
