<h1>{{@questionDetails.title}}</h1>
<h5>{{@questionDetails.description}}</h5>

<Textarea 
  class="form-control"
  rows="3" 
  placeholder="Type your answerw here..." 
  name="answer"
  onchange={{action (perform answerChange value="target.value")}} 
/>