<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Examination</th>
      <th>Start</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{log @examAttempts}}
    {{#each @examAttempts as |examAttempt|}}
      <ExamAttempt::ExamAttemptListRow
        @examAttempt={{examAttempt}}
      />
    {{/each}}
  </tbody>
</table>
