<div class="container">
  <div class="d-flex justify-content-center">
    <div class="card text-white bg-danger text-center">
      <div class="card-body">
        <FaIcon @icon="exclamation-circle" @size="4x" />
        <h1>Your token has expired!</h1>
        <div class="t-align-c">
            <LinkTo @route="login" class="">Go to Login page</LinkTo>
        </div>
      </div>
    </div>
  </div>
</div>