<tr>
  <td>{{@examAttempt.id}}</td>
  <td>{{@examAttempt.examination.title}}</td>
  <td>{{moment-format @examAttempt.start 'DD-MM-YYYY h:mm:ss a'}}</td>
  <td>
    <a href="#" class="btn btn-success">Admit Card</a>
  </td>
</tr>