<table class="table table-responsive-sm table-bordered">
  <thead>
    <tr>
      <th>Exam</th>
      <th>Code</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each @examinations as |examination|}}
      <tr>
        <td class="text-value-md">{{examination.title}}</td>
        <td>{{examination.code}}</td>
        <td>
          {{yield examination}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>