<div 
  class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show {{if sideBar.isOpen 'c-sidebar-show'}}" 
  id="sidebar"
  {{on-click-outside (action "closeSideBar")}}
>
  <div class="c-sidebar-brand d-lg-down-none d-flex flex-col pt-3">
    <img src="/images/logo.jpeg" alt="Study Abacus Logo" width="50%">
    <h3 class="mt-3">
      Online Exam Portal
    </h3>
  </div>
  <ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-item">
      <LinkTo class="c-sidebar-nav-link" @route="dashboard" @activeClass="c-active">
        <FaIcon @icon="tachometer-alt" class="mr-3" />
        Dashboard
      </LinkTo>
    </li>
    <li class="c-sidebar-nav-item">
      <LinkTo class="c-sidebar-nav-link" @route="exams" @activeClass="c-active">
        <FaIcon @icon="pen" class="mr-3" />
        Examinations
      </LinkTo>
    </li>
    <li class="c-sidebar-nav-item">
      <a class="c-sidebar-nav-link" href="#" {{action 'logout'}}>
        <FaIcon @icon="user" class="mr-3" />

        Logout
      </a>
    </li>
  </ul>
</div>
