<table class="table table-responsive-sm table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{@questionDetails.title}}</td>
      <td>{{@questionDetails.description}}</td>
      <td>{{yield}}</td>
    </tr>
  </tbody>
</table>