<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
  <div class="container">
    <div class="row align-items-center h-100">
      <div class="col-md-6">Exam Attempt</div>
      <div 
        class="col-md-6 d-flex justify-content-end"
      >
        Timer
      </div>
    </div>
  </div>
</header>